/= render 'form'
/%br
/#results

%hr
%h3 Available products:
%ul
  %li Grenn bags
  %li Red bags
  %li Blue bags
  
%hr
%h3 Latest product deliveries:
%ul
  %li Sign. X - 2011-04-05 15:33:33
  %li Sign. Y - 2011-04-05 15:33:33
  %li Sign. Z - 2011-04-05 15:33:33