.project
.bundle
db/*.sqlite3
log/*
tmp/*
*.swp
Gemfile.lock
config/database.yml
.sass-cache/
.DS_Store
TODO-Mauro

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
