/* line 1, ../../../app/stylesheets/differenzia.scss */
body {
  background-image: url("/images/green-leaf.png");
  background-repeat: no-repeat;
  background-position: left top;
}

/* line 7, ../../../app/stylesheets/differenzia.scss */
#header {
  background-color: #600;
  height: 90px;
  margin-right: 0px;
  margin-left: 220px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* line 15, ../../../app/stylesheets/differenzia.scss */
#header h1 {
  color: #fff;
  left: 290px;
  padding-top: 10px;
  position: absolute;
  font-size: 80px;
}

/* line 23, ../../../app/stylesheets/differenzia.scss */
.container {
  width: 95%;
}

/* line 28, ../../../app/stylesheets/differenzia.scss */
.spacer {
  clear: both;
  height: 1px;
}

/* line 30, ../../../app/stylesheets/differenzia.scss */
.user-details {
  color: #fff;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

/* line 37, ../../../app/stylesheets/differenzia.scss */
.user-details a:link {
  color: #fff;
}

/* line 38, ../../../app/stylesheets/differenzia.scss */
.user-details a:visited {
  color: #fff;
}

/* line 39, ../../../app/stylesheets/differenzia.scss */
.user-details a:active {
  color: #fff;
}

/* line 40, ../../../app/stylesheets/differenzia.scss */
.user-details a:hover {
  text-decoration: none;
}

/* line 42, ../../../app/stylesheets/differenzia.scss */
label {
  font-weight: bold;
}

/* line 44, ../../../app/stylesheets/differenzia.scss */
.pagination {
  text-align: center;
}

/* line 1, ../../../app/stylesheets/partials/_forms.scss */
.button {
  background: #000;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

/* line 3, ../../../app/stylesheets/partials/_forms.scss */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

/* line 10, ../../../app/stylesheets/partials/_forms.scss */
.simple_form div.input {
  margin-bottom: 10px;
}

/* line 14, ../../../app/stylesheets/partials/_forms.scss */
.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

/* line 18, ../../../app/stylesheets/partials/_forms.scss */
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

/* line 23, ../../../app/stylesheets/partials/_forms.scss */
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

/* line 28, ../../../app/stylesheets/partials/_forms.scss */
.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

/* line 36, ../../../app/stylesheets/partials/_forms.scss */
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

/* line 1, ../../../app/stylesheets/partials/_menu.scss */
#operators {
  background: url(/images/profile.png) no-repeat left center;
  padding: 5px 5px 5px 25px;
  /*--Adds padding around each item--*/
  margin: 0;
}

/* line 7, ../../../app/stylesheets/partials/_menu.scss */
#customers {
  background: url(/images/profile.png) no-repeat left center;
  padding: 5px 5px 5px 25px;
  /*--Adds padding around each item--*/
  margin: 0;
}

/* line 13, ../../../app/stylesheets/partials/_menu.scss */
#dashboard {
  background: url(/images/bar_chart.png) no-repeat left center;
  padding: 5px 5px 5px 25px;
  /*--Adds padding around each item--*/
  margin: 0;
}

/* line 19, ../../../app/stylesheets/partials/_menu.scss */
#csv {
  background: url(/images/load.png) no-repeat left center;
  padding: 5px 5px 5px 25px;
  /*--Adds padding around each item--*/
  margin: 0;
}

/* line 25, ../../../app/stylesheets/partials/_menu.scss */
ul.menu {
  font-size: 1.5em;
  list-style: none;
  /*--Takes out the default bullets--*/
  margin: 0;
  padding: 0;
}

/* line 32, ../../../app/stylesheets/partials/_menu.scss */
.menu {
  font-size: 1.5em;
  list-style: none;
  /*--Takes out the default bullets--*/
  margin: 0;
  padding: 0;
}

/* line 1, ../../../app/stylesheets/partials/_navigation.scss */
#navigation {
  float: left;
  width: 100%;
  background-color: #f4fcf2;
  margin: 0 0 30px 0;
}

/* line 8, ../../../app/stylesheets/partials/_navigation.scss */
#navigation ul {
  height: 25px;
  margin: 0 30px 0 0;
  padding: 0;
}

/* line 14, ../../../app/stylesheets/partials/_navigation.scss */
#navigation ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 21, ../../../app/stylesheets/partials/_navigation.scss */
#navigation ul li a {
  float: left;
  font-size: 10pt;
  font-weight: normal;
  margin: 0;
  padding: 4px 8px 6px;
  background-color: #66533f;
  border-color: #f4fcf2;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  text-decoration: none;
}

/* line 35, ../../../app/stylesheets/partials/_navigation.scss */
#navigation ul li a:hover {
  background-color: #8c7a6e;
}

/* line 39, ../../../app/stylesheets/partials/_navigation.scss */
#navigation ul li a.selected {
  background-color: #afc0a4;
  border: 1px solid;
  border-color: #afc0a4;
  color: #2f3c4c;
  font-weight: bold;
}

/* line 7, ../../../app/stylesheets/app.scss */
#standard_delivery {
  display: none;
}

/* line 11, ../../../app/stylesheets/app.scss */
#product_selection {
  display: none;
}

/* line 15, ../../../app/stylesheets/app.scss */
.simple_form textarea {
  height: 120px;
}
