body {
  padding: 0px;
  margin: 0px;
  background-image: url('/images/green-leaf.png');
  background-repeat: no-repeat;
  background-position: left top;
}

#header {
  background-color: #600; 
  height: 60px; 
  margin-right: 0px; 
  margin-left: 220px; 
  margin-top: 20px;
  margin-bottom: 50px;
}
#header h1 {
  color: #fff;
  left: 290px;
  position:absolute;
}

a:link {color: #600;}
a:visited {color: #600;}
a:active {color: #600;}
a:hover {
  color: #600;
  text-decoration: none;
}

#sign-in {
  border: 3px solid #b7ddf2;
  background:#ebf4fb;
  width: 400px; /*--Specify Width--*/
  height: 300px; /*--Specify Height--*/
  position: absolute; /*--Set positioning to absolute--*/
  top: 35%; /*--Set top coordinate to 50%--*/
  left: 50%; /*--Set left coordinate to 50%--*/
  margin: -100px 0 0 -150px; /*--Set negative top/left margin--*/
  padding: 10px;
}

#sign-in h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #600;
}

#sign-in label{
  display: block;
  font-weight: bold;
  text-align: right;
  width: 140px;
  float: left;
}

#sign-in .small{
  color: #666666;
  display: block;
  font-size: 11px;
  font-weight: normal;
  text-align: right;
  width: 140px;
}

#sign-in input{
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  margin: 2px 0 20px 10px;
}

#sign-in .forgot{
  float: left;
  font-size: 14px;
  padding: 4px 2px;
  width: 200px;
  margin: 2px 0 20px 10px;
}

#sign-in .button{
  clear: both;
  margin-left: 150px;
  width: 125px;
  height: 31px;
  background: #000;
  text-align: center;
  line-height: 31px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}

.spacer{clear:both; height:1px;}

font-family: verdana, arial, sans-serif; font-size: 14px;  }

#flash { text-align: center; margin: 0px auto; width: 924px; }
#flash div { padding: 8px; }
.error,
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }

.button {background: #000; color: #fff;}