.menu
  = link_to 'Dashboard', dashboard_index_url, :id => "dashboard"
  = link_to 'Customers', customers_url, :id => 'customers'
  = link_to 'Operators', users_url, :id => 'operators'
  = link_to 'CSV', csv_import_url, :id => "csv"