@import "differenzia";
@import "partials/forms";
@import "partials/menu";
@import "partials/navigation";

// delivery_form
#standard_delivery {
  display: none;
}

#product_selection {
  display: none;
}

.simple_form textarea {
  height: 120px;
  //margin-left: -40px;
}
