= form_tag 'javascript:void(0)', :id => 'customer' do
	%p
		= label_tag :customer_search, 'Nominativo:'
		= text_field_tag :customer_search, params[:customer_search]
		= image_tag("spinner.gif", :id => "spinner", :style => "display: none;")
%br