= form_tag 'javascript:void(0)', :id => 'customer_search' do
	%p
		= label_tag :customer_full_name, t('full_name')
		= text_field_tag :customer_full_name, params[:customer_full_name]
		= image_tag("spinner.gif", :id => "spinner", :style => "display: none;")
%br