= simple_form_for(resource, :as=> "#{resource_instance_name.to_s.downcase}",
  :url => resource.new_record? ? collection_url : resource_url(resource),
  :html => { :method => (resource.new_record? ? "post" : "put") }) do |f|
  /- if resource.errors.any?
  /  %tr
  /    %td{:colspan => "2"}
  /      %h2
  /        = pluralize(resource.errors.count, "error")
  /        prohibited this testa from being saved:
  /      %ul
  /        - resource.errors.full_messages.each do |msg|
  /          %li= msg
  - resource.attributes.each_pair do |field, value|
  - next if ['id', 'created_at', 'updated_at'].include?(field)
    = f.input field.to_sym
  = f.submit
